# python-related nonsense
.ipynb_checkpoints
*.pyc
*credentials.cfg
app/knowhere_db.py 
app/knowhere_db.pyc
.idea/*
.idea/*
*map-helper.js
*mapbox.txt
data/.~lock*
*.DS_Store
code/pickle_glen_C_032617.p
